@import "../../styles/variables.scss";

.Kitchen {
  width: 40rem;
  background-color: #efefef;
}

.BodyWrapper {
  position: absolute;
  bottom: 2rem;
  width: 36rem;
  left: 2rem;

  img {
    width: 100%;
  }
}

.ChefWrapper {
  position: absolute;
  bottom: 18rem;
  width: 12rem;
  left: 18rem;

  img {
    width: 100%;
  }
}

.TopWall {
  position: absolute;
  top: 0;
  left: 39rem;
  height: 14rem;
  width: 1rem;
  background-color: $wall;
}

.BottomWall {
  position: absolute;
  bottom: 0;
  left: 39rem;
  height: 25rem;
  width: 1rem;
  background-color: $wall;
}

.Door {
  position: absolute;
  top: 14rem;
  left: 39rem;
  height: 19rem;
  width: 1rem;
  background-color: $wood;
}
